.blog-container {
	z-index: -100;
	margin-top: 100px;
	overflow: scroll;
	height: 100vh;

	.blog-item {
		width: 50%;

		p {
			text-align: justify;
			font-family: "reg-text";
		}
	}
}

.blog-text {
	position: fixed;
	left: 2%;
	bottom: 2%;
	user-select: none;
	font-size: 1.25rem;
}

.navigation-guide {
	position: fixed;
	right: 2%;
	bottom: 2%;
	user-select: none;
	font-size: 1.25rem;
}

.blog-details-wrapper {
	position: relative;
	height: 100vh;
	width: 100vw;
	overflow: scroll;

	&::-webkit-scrollbar {
		display: none;
	}

	.blog-details-content {
		position: absolute;
		top: 33%;
		left: 18vw;
		padding-bottom: 33vh;
		min-width: 30%;

		.track {
			height: 500px;
			height: fit-content;
		}
	}
}

.blog-title {
	font-family: "pixel-text";
}

.blog-image-container {
	position: absolute;
	right: 0;
	top: 0;
	height: 100vh;
	width: 50vw;
	position: fixed;
	pointer-events: none;

	.poster-holder {
		position: relative;
		height: 100%;
		width: 100%;

		.blog-img {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			user-select: none;
			height: 64vmin;
			width: 48vmin;

			.img-div {
				height: 100%;
				width: auto;
				box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
				border: 12px solid white;
			}
		}
	}
}

.poster-title {
	display: flex;

	.blog-title {
		mix-blend-mode: difference;
	}

	.title-number {
		margin-left: 4px;
	}
}

#svg-cursor-icon {
	fill: white;
}
