.blog-container {
	z-index: -100;
	margin-top: 100px;
	overflow: scroll;
	height: 100vh;

	.blog-item {
		width: 50%;

		p {
			text-align: justify;
			font-family: "reg-text";
		}
	}
}

.blog-img {
	width: 100%;
	height: auto;
}

.blog-details-content {
	position: absolute;
	z-index: 1000;
	background-color: white;
	top: 10%;
	left: 0;
}
