body {
	background-color: #141414;
	font-size: 13px;
	height: 100vh;
	width: 100vw;
	margin: 0rem;
	color: #f8f8f8
}

body::-webkit-scrollbar {
	display: none;
}

.overflow-hidden {
	overflow: hidden;
}

.sticky {
	position: sticky;
	top: 0;
}
