.card-container {
	position: relative;
	width: 98vw;
	height: 25vh;
	min-height: 25vh;
	padding: 60px;
	overflow: hidden;
	margin-left: 1vw;
	margin-right: 1vw;
	margin-bottom: 1vw;
	border-radius: 20px;

	&:hover {
		.card-content {
			h1 {
				color: white;
			}
		}
	}

	.card-content {
		position: absolute;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);

		h1 {
			transition-duration: 0.6s;
			color: white;
			font-size: 36;
			width: 30%;
		}

		p {
			font-size: 18px;
			color: white;
		}

		.title {
			h1 {
				font-family: "display-text";
				font-size: 4rem;
			}
		}
	}

	.card-background {
		height: 100%;
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background-size: cover;
		background-position: center;
		z-index: -1;
	}
}

.tag {
	font-size: 16px;
	text-decoration: none;
	background-color: white;
	width: fit-content;
	padding: 10px 20px;
	border-radius: 25px;
	margin-right: 15px;
}
