.circle {
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: black;
	position: fixed;
	z-index: 10000;
	pointer-events: none;
}

.cursor-text {
	position: fixed;
	z-index: 100000;
	pointer-events: none;
	color: black;
	opacity: 0;

	.icon-wrapper {
		position: relative;
		width: 100%;
		height: 100%;
	}
}

.outer-circle {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: white;
	transition-timing-function: ease-out;
	mix-blend-mode: difference;
	position: fixed;
	left: -50px;
	top: -50px;
	z-index: 1000;
	pointer-events: none;
}

.noselect {
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Old versions of Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#svg-can-drag {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
}
