.circle {
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: black;
	position: fixed;
	z-index: 10000;
	pointer-events: none;
}

.cursor-text {
	position: fixed;
	z-index: 100000;
	pointer-events: none;
	color: black;
	opacity: 0;
}

.outer-circle {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: white;
	transition-timing-function: ease-out;
	mix-blend-mode: difference;
	position: fixed;
	left: -50px;
	top: -50px;
	z-index: 100;
	pointer-events: none;
}

body *,
body button {
	cursor: none !important;
}

html:hover {
	cursor: none;
}

.noselect {
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Old versions of Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
