
.banner-image {
    position: absolute;
    bottom: 1vw;
    left: 1vw;
    width: 98vw;
    height: calc(98% - 80px);
    background-size: cover;
    background-position: center;
    z-index: 0;
    transition-duration: 0.6s;

    &:hover {
        border-radius: 20px;
    }
}

.entrance-paragraph {
    width: 420px;
    position: absolute;
    left: 3vw;
    bottom: 2.5vw;
    z-index: 1;

    p {
        font-family: "reg-text";
        font-size: 40px;
        line-height: 60px;
        color: white;

        .display-text {
            font-family: "display-text";
            line-height: 38px;
        }

        .crimson {
            color: #ff597b;
        }
    }
}
