@font-face {
	font-family: "pixel-text";
	src: url("./fonts/RobotoMono-Regular.ttf") format("opentype");
}

@font-face {
	font-family: "med-text";
	src: url("./fonts/RobotoMono-Bold.ttf") format("opentype");
}

@font-face {
	font-family: "reg-text";
	src: url("./fonts/RobotoMono-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "display-text";
	src: url("./fonts/CotfordTextItalic.otf") format("opentype");
}

@font-face {
	font-family: "sans-serif-med-text";
	src: url("./fonts/HaasGrotDisp65Medium.otf") format("opentype");
}

body {
	font-family: "reg-text";
}

.display-font {
	font-family: "display-text";
}

.s-128 {
	font-size: 7rem;
}

.s-64 {
	font-size: 64px;
}

.s-48 {
	font-size: 48px;
}

.s-24 {
	font-size: 24px;
}

.s-175rem {
	font-size: 1rem;
}

.reg {
	font-family: "reg-text";
}

.med {
	font-family: "med-text";
}

.pixel {
	font-family: "pixel-text";
}

.display {
	font-family: "display-text";
}

.sans-med {
	font-family: "sans-serif-med-text";
}