.login-image-container {
	width: 100%;
	height: 60vh;

	.login-image {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
	}
}

.cls-1 {
	stroke: #000;
	stroke-miterlimit: 10;
}

.image-track {
	display: flex;
	gap: 2.5vmin;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	user-select: none;
	padding: 10vh 0;

	.image {
		width: 40vmin;
		height: 20vmin;
		object-fit: cover;
		object-position: 100% center;
	}
}

.bottom-ui-container {
	display: inline-block;
	flex-direction: column;
}

.dot {
	width: 8px;
	height: 8px;
	margin: auto;
	margin-left: 8px;
	margin-right: 20px;
	border-radius: 20px;
	background-color: black;
}

#right {
	align-items: end;
}

.bottom-div {
	position: absolute;
	left: 0;
	bottom: 2.5vmin;
	width: 100vw;
}

.details-text {
	width: 100%;
	font-size: 1.25rem;
	line-height: 2.5rem;
	user-select: none;
	margin-left: 10px;
}

.ideas-row-text {
	font-size: 1.25rem;
	line-height: 2rem;
	user-select: none;
	margin: 0 25px;
}

.arrow-row {
	line-height: 2rem;
	user-select: none;
	margin: 5px 25px;
	width: fit-content;
	height: 1.5rem;
	display: inline-flex;
}

.img-container {
	position: relative;

	svg {
		position: absolute;
		width: 100%;
		height: 100%;
	}
}

.marking {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: 40vmin;
	display: flex;
	flex-direction: column;

	.marking-container {
		position: relative;
		height: 100%;
		width: 2px;

		.upper-mark {
			position: absolute;
			top: 0;
			height: 20px;
			width: 1.75px;
			background-color: black;
		}

		.lower-mark {
			position: absolute;
			bottom: 0;
			height: 20px;
			width: 1.75px;
			background-color: black;
		}
	}
}
