.custom-wrapper {
	position: relative;
}

.custom-row {
	display: flex;
	justify-content: center;
}

.h-30 {
	height: 30vh;
}

.mt-70 {
	margin-top: 70px;
}

.custom-container {
	min-height: 100vh;
	width: 100%;
}

.custom-body {
	margin-top: 5vh;
	color: black;
}

.custom-padding {
	color: #222222;
	font-family: "med-text";
	font-size: 16px;
	margin: 15px;
	margin-left: 54px;
}

.center-div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.t-center {
	text-align: center;
}

.w-80 {
	width: 80%;
}

.w-40 {
	width: 40%;
}
