.custom-nav {
	position: fixed;
	top: 0;
	width: 100%;
}

.burger-btn {
	outline: none;
	border: none;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: pointer;
	position: absolute;
	top: 15px;
	right: 15px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: transparent;
	z-index: 10000;
}

.nav-item {
	padding: 24px 0px 0px 24px;
	font-size: 1.25rem;
	line-height: 1.25rem;
	color: black;
	z-index: 10000;
}

.nav-paragraph {
	text-align: justify;
	padding: 24px;
	font-family: "reg-text";
	font-size: 1.25rem;
}

.menu-box {
	width: 79px;
	height: 78px;
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: #f8f8f8;
}

.navigation-items-window {
	display: flex;
	position: absolute;
	top: 0px;
	right: 0px;
	height: fit-content;
	width: fit-content;
	background-color: #f8f8f8;

	.nav-item {
		height: fit-content;
		width: 100%;
	}
}

.navigation-items {
	width: 100vw;
	height: 100vh;
	position: absolute;
	right: 0;
	z-index: -10;

	.nav-content {
		height: fit-content;
		font-family: editorialMedium;
		a {
			text-decoration: none;
		}
	}

	.bottom-align {
		position: absolute;
		bottom: 0;
	}

	#logo {
		width: auto;
		height: 40px;
	}
}
